## 
## PROJECT:   MinCLR
## FILE:      .editorconfig
## PURPOSE:   The root .editorconfig file for MinCLR Project
## 
## LICENSE:   The MIT License
## 
## DEVELOPER: Mouri_Naruto (Mouri_Naruto AT Outlook.com)
## 

root = true

[*.md]
charset = utf-8-bom
end_of_line = crlf
indent_style = space
insert_final_newline = true
